.container {
    display: flex;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background: black;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background: rgb(10, 10, 10);
    font-weight: bold;
    text-align: left;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #000000;
  }
  
  .table tbody tr:hover {
    background-color: #fff9f936;
  }
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .table {
      overflow-x: auto;
      display: block;
    }
  
    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
      display: block;
    }
  
    .table tbody tr:nth-child(even) {
      background-color: transparent;
    }
  
    .table tbody tr:hover {
      background-color: transparent;
    }
  
    .table th {
      text-align: left;
    }
  }
  